::-webkit-scrollbar {
  width: .5vw;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header + div{
	margin-top: 8.333vw;
}

header + div{
  min-height: calc(100vh - 33vw);
}

*::selection {
	background: #D6BA8D;
}

@media only screen and (max-width: 540px) {
	header + div{
		margin-top: 18.7vw;
    min-height: calc(100vh - 65.5vw);
	}
}