.SliderBox{
    width: 100%;
    height: 47.917vw;
    overflow: hidden;
    margin-top: 8.333vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: background-image;
    transition-duration: 1s;
}

.backgroundMask{
    width: calc(100vw * 3);
    height: 100%;
    display: flex;
    transition: 1s;
    transition-timing-function: ease;
}

.img1{
    background-image: url("../img/photo.png");
}

.img2{
    background-image: url("../img/photo\ 1.png");
}

.img3{
    background-image: url("../img/photo\ 2.png");
}

.slide1{
    transform: translateX(0%);
}
.slide2{
    transform: translateX(calc(-100% / 3));
}
.slide3{
    transform: translateX(calc(-100% - (-100% / 3)));
}

.selection{
    width: 0.729vw;
    height: 6.771vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16.510vw;
    margin-left: 5.104vw;
    z-index: 1;
}

.selection > *{
    cursor: pointer;
    transition: .5s;
}

.selection-not-active{
    width: 0;
    height: 0;
    border-radius: 100%;
    border: 0.260vw solid #ffffff;
    background: #ffffff;
}


.selection-active{
    width: 0.417vw;
    height: 0.417vw;
    border-radius: 100%;
    border: 0.052vw solid #ffffff;
}