header { 
    width: 100%;
    height: 8.333vw;
    background: #262626;
    box-shadow: 0vw 0.208vw 1.042vw rgba(0, 0, 0, 0.4);
    border-bottom:  0.052vw #6C6C6C solid;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo{
    width: 14.844vw;
    height: 6.719vw;
    margin-left: 5.208vw;
    position: absolute;
    background-image: url("../img/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

header > nav{
    width: 34.531vw;
    height: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 20.104vw;
}

header > nav > a { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 0.938vw;
    line-height: 1.042vw;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    position: relative;
    transition: .5s;
}

header > nav > a:hover{
    color: #ADADAD;
}

.active{
    color: #D6BA8D;
}

.active:hover{
    color: #D6BA8D;
}
.active::before{
    content: '';
    background: #D6BA8D;
    width: 100%;
    height: 0.365vw;
    position: absolute;
    top: 4.531vw;
    left: 0;
}

.additional_options{
    width: 12.813vw;
    height: 2.292vw;
    display: flex;
    align-items: center;
    position: absolute;
    right: 5.208vw;
}
.langIcon{
    background-image: url("../img/RU.svg");
}

.searchIcon{
    background-image: url("../img/icon\ search.svg");
}

.burgerMenuIcon{
    background-image: url("../img/icon\ menu.svg");
    border-bottom: none;
}


.iconBox{
    display: flex;
    align-items: center;
}

.Icon{
    width: 1.667vw;
    height: 1.667vw;
    margin-left: 1.563vw;
    margin-right: 1.563vw;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

.iconBoxLine{
    height: 2.292vw;
    border-left:  0.052vw solid rgba(255, 255, 255, 0.3);
    position: absolute;
}

.langIcon:hover{
    filter: brightness(.65);
}
.searchIcon:hover{
    filter: brightness(.65);
}
.burgerMenuIcon:hover{
    filter: brightness(.65);
}

.burgerMenu{
    z-index: 1;
    overflow: hidden;
}

.burgerMenuOpen{
    top: -0.645vw;
    right: -2.6vw;
    width: 16.667vw;
    height: 21.719vw;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    background: rgba(51, 51, 51, 0.8);
    box-shadow: 0.104vw 0.104vw 1.042vw rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.042vw);
    transition: 1s;
}

.burgerMenuClose{
    top: -0.645vw;
    right: -2.6vw;
    width: 0;
    height: 0;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    background: rgba(51, 51, 51, 0.8);
    box-shadow: 0.104vw 0.104vw 1.042vw rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.042vw);
    transition: 1s;
    opacity: 0;
}

.burgerMenu > div{
    margin-top: 0.990vw;
}

.burgerMenu > * {
    margin-top: 1.146vw;
    margin-right: 1.042vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 0.938vw;
    line-height: 1.042vw;
    text-align: right;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.A-line::after {
    content: '';
    width: 100%;
    pointer-events: none;
    border-bottom:  0.052vw solid #393939;
    position: absolute;
    margin-top: -0.573vw;
    right: 0;
}
.show{
    opacity: 1;
    transition-property: opacity, color;
    transition-delay: .8s, 0s;
    transition-duration: .5s, 0.2s;
}

.burgerMenu > a:hover{
    color: #ADADAD;
}

.burgerMenu > a:active{
    color: #D6BA8D;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.tg{
    display: flex;
    width: 1.563vw;
    height: 1.563vw;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("../img/icon\ telegram.svg");
    background-position: center;
    background-size: 100% 100%;
}

.iconMenuBox > .langIcon{
    display: none;
}

.iconMenuBox > .searchIcon{
    display: none;
}

